/* profile */

#profile {
    display: flex;
    flex-direction: column;
    text-align: left;
    /* justify-content: center; */
}

.profile-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 1vh;
}

.profile-cards.double {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.profile-card {
    padding: 1vw;
}

#small-card {
    flex: 2.5;
    padding: 1vw;
}

#wide-card {
    flex: 6;
    padding: 1vw;
}

.profile-card.card {
    background-color: white;
    box-shadow: 0px 0px 2px #6b6969;
    color: #24282b;
    margin-bottom: 1vh;
}

.profile-card.card img {
    width: calc(100px + 5vw);
}

.bio {
    display: grid;
    grid-template-columns: auto auto auto;
}

.bio-lists {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.bio-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #00000020;
}

.bio-list.no-border {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0px solid #00000020;
}

@media screen and (max-width: 980px) {
    .profile-cards.double {
        flex-direction: column;
        max-width: 100%;
    }
    .profile-card.card {
        min-width: 80vw;
        margin: 1vw;
    }
    .bio-list {
        font-size: calc(15px + 1.5vw);
    }
}


/* end of profile */

#portfolio {}

#awards {}

#education {}

#shell {
    background-color: black;
}


/* add effect */


/* lower ocupacity (fade text) */

#fade {
    opacity: 0.85;
}


/* rounded corner */

#rounded-corner1 {
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 150px;
}


/* Blinking */

.blink {
    animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* end of blinking */


/* alignment */

#left {
    text-align: left;
}

#right {
    text-align: right;
}


/* end of alignment */


/* size text */

#big-font {
    font-size: calc(50px + 0.2vw);
}

#small-font {
    font-size: calc(30px + 0.2vw);
}

.big-icon {
    font-size: calc(30px + 2vw);
}


/* end of size text */


/* type writer */


/* usage
    <div class='typewriter'>
        <h1>sample typewriting</h1>
    </div> */

.typewriter h1 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 3.5s steps(10, end), blink-caret .75s step-end infinite;
}


/* The Blinking effect */

.blink-me {
    animation: blinker 2.75s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}


/* end of type writer */

.icon-link {
    padding-right: 1rem;
}

.icon-link:link {
    color: #24282b;
}

.icon-link:hover {
    color: #fe6e00;
    cursor: pointer;
}