#main{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    color: #fe6e00
}
#profile{

}
#portfolio{

}
#awards{

}
#education{

}