/* end of portfolio */

#portfolio {}

.portfolio-project-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 2px #6b6969;
    margin: 2vw;
}

.portfolio-project-card-content {
    flex: 6;
    padding: 1vw;
}

.portfolio-project-card-imgs {
    flex: 4;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    max-height: 100%;
    padding: 1vw;
}

.portfolio-project-card-img {
    flex: 1;
}

.portfolio-project-card-img img {
    border-radius: 0;
    min-width: 100%;
    min-height: 100%;
}

.portfolio-project-card .button {
    margin-left: 1vw;
    border-radius: 5px;
    max-width: 20%;
}


/* Zoommmmm Effect */

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation */

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}


/* end of portfolio */

#awards {}

#education {}

#shell {
    background-color: black;
}


/* add effect */


/* lower ocupacity (fade text) */

#fade {
    opacity: 0.85;
}


/* rounded corner */

#rounded-corner1 {
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 150px;
}


/* Blinking */

.blink {
    animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* end of blinking */


/* alignment */

#left {
    text-align: left;
}

#right {
    text-align: right;
}


/* end of alignment */


/* size text */

#big-font {
    font-size: calc(50px + 0.2vw);
}

#small-font {
    font-size: calc(30px + 0.2vw);
}

.big-icon {
    font-size: calc(30px + 2vw);
}


/* end of size text */


/* type writer */


/* usage
    <div class='typewriter'>
        <h1>sample typewriting</h1>
    </div> */

.typewriter h1 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 3.5s steps(10, end), blink-caret .75s step-end infinite;
}


/* The Blinking effect */

.blink-me {
    animation: blinker 2.75s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}


/* end of type writer */

.icon-link {
    padding-right: 1rem;
}

.icon-link:link {
    color: #24282b;
}

.icon-link:hover {
    color: #fe6e00;
    cursor: pointer;
}


/* button class */

.button {
    background-color: #24282b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}