<!DOCTYPE html>
<html lang="th" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>HRNPH_dev</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/contents.css">
</head>

<body class="no-border">
  <div class="layout" >
    <div class="navbar" id="grad-main">
      <h1>HRNPH</h1>
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
      <div class="nav-menu">
        <div>
          <h2><a href="#main">หน้าหลัก</a></h2>
          <h2><a href="#profile">โปรไฟล์</a></h2>
          <h2><a href="#portfolio">ผลงาน</a></h2>
          <h2><a href="#award">เกียรติบัตร</a></h2>
          <h2><a href="#education">การศึกษา</a></h2>
        </div>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="content-box" id="main">
        <h1 id="writename"></h1>
      </div>
      <script src="./javascript/typewriter.js"></script>
      <div class="content-box" id="profile">
        <h1>This Is My Profile website</h1>
      </div>
      <div class="content-box" id="portfolio">
        <h1>This Is My Profile website</h1>
      </div>
      <div class="content-box" id="award">
        <h1>This Is My Profile website</h1>
      </div>
      <div class="content-box" id="education">
        <h1>This Is My Profile website</h1>
      </div>
      
    </div>

  </div>
</body>

</html>
