<!DOCTYPE html>
<html lang="th" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>HRNPH_dev</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/contents.css">
    <link rel="stylesheet" href="css/contents-main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="./javascript/navbar.js"></script>
</head>

<body class="no-border">

    <div class="layout">
        <div class="navbar" id="grad-main">
            <h1>HRNPH</h1>
            <img src="https://avatars.githubusercontent.com/u/51855316?v=4" alt="Avatar">
            <div class="nav-menu">
                <h2>หิรัญกุล พิมพ์ศิริ</h2>
                <div id="nav-link-menu">
                    <a class='nav-link active' href="#main">
                        <h2>หน้าหลัก</h2>
                    </a>
                    <a class='nav-link' href="#profile">
                        <h2>โปรไฟล์</h2>
                    </a>
                    <a class='nav-link' href="#portfolio">
                        <h2>ผลงาน</h2>
                    </a>
                    <a class='nav-link' href="#award">
                        <h2>เกียรติบัตร</h2>
                    </a>
                    <a class='nav-link' href="#education">
                        <h2>การศึกษา</h2>
                    </a>
                    <a class='nav-link' href="#shell">
                        <h2>shell</h2>
                    </a>
                </div>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="content-box" id="main">

                <div class="main-content-header">
                    <img class="mobile-avatar" src="https://avatars.githubusercontent.com/u/51855316?v=4" alt="Avatar">
                    <h1 class="no-border">
                        <span style="color:#24282b"><</span>
                        <span id="writename"></span>
                        <span style="color:#24282b">/></span>
                    </h1>
                    <div class="main-content-header-head no-border">
                        <h1 id="writename-thai"></h1>
                        <h1 class="blink">|</h1>
                    </div>
                    <hr>
                    <div class="main-content-footer no-border">
                        <!-- greeting -->
                        <div class="main-content-footer-greeting no-border">
                            <h3>An indie Highschooler in Japanease-English class Who Spends 4hrs a day self study programming, loved to develop something useful / fun, I devoted my life and time to the joy of learning</h3>
                        </div>

                        <div class="main-content-footer-icon-container">
                            <div class="main-content-footer-icon-container-icon big-icon">
                                <a href="mailto:hirunkul2548@gmail.com" target="_blank" class="icon-link"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                                <a href="https://github.com/HRNPH" target="_blank" class="icon-link"><i class="fa-brands fa-github"></i></a>
                                <a href="https://www.youtube.com/channel/UCTCjINFxvBTkqD0ihWPTz8g" target="_blank" class="icon-link"><i class="fa-brands fa-youtube"></i></a>
                                <a href="https://www.facebook.com/hrnph" target="_blank" class="icon-link"><i class="fa-brands fa-facebook-square"></i></a>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <script src="./javascript/typewriter.js"></script>
            <!-- profile -->
            <div class="content-box" id="profile">
                <h1 id="small-font" class="theme-main">PROFILE</h1>
                <h1 id="big-font" class='no-border theme-sub'>โปรไฟล์</h1>
                <div class="profile-cards double">
                    <div class="profile-card " id="small-card">
                        <div class="profile-card card">
                            <img src="https://avatars.githubusercontent.com/u/51855316?v=4" alt="Avatar">
                            <h1>หิรัญกุล พิมพ์ศิริ</h1>
                            <p>Devoted Learner</p>
                        </div>

                    </div>
                    <div class="profile-card" id="wide-card">
                        <div class="profile-card card">
                            <div class="profile-bio" id="left">
                                <div class="profile-bio bio">
                                    <p class="bio" id="small">
                                        <span><i class="fa fa-envelope" aria-hidden="true"></i></span> Email
                                    </p>
                                    <p class="bio" id="big">
                                        <span id="fade">hirunkul2548@gmail.com</span>
                                    </p>

                                </div>

                                <hr>
                                <div class="profile-bio bio">
                                    <p class="bio" id="small">
                                        <span><i class="fa-solid fa-phone"></i></span> Phone
                                    </p>
                                    <p class="bio" id="big">
                                        <span id="fade">061-405-6229</span>
                                    </p>

                                </div>
                                <hr>
                                <div class="profile-bio bio">
                                    <p class="bio" id="small">
                                        <span><i class="fa-brands fa-github"></i></span> Github
                                    </p>
                                    <p class="bio" id="big">
                                        <span id="fade">https://github.com/HRNPH</span>
                                    </p>

                                </div>

                                <hr>
                                <div class="profile-bio bio">
                                    <p class="bio" id="small">
                                        <span><i class="fa-solid fa-book-bookmark"></i></span> Hobby
                                    </p>
                                    <p class="bio" id="big">
                                        <span id="fade">เล่นเกม โค้ด อ่านหนังสือ ลงทุน</span>
                                    </p>

                                </div>
                            </div>
                            <div class="score-bar">

                            </div>

                        </div>
                    </div>
                </div>
                <div class="profile-cards">
                    <div class="profile-card ">
                        <div class="profile-card card">
                            <h1>ข้อมูลยาวแบบว่ายาวจัดๆ ยาวมากๆ ยาวเหี้ยๆ</h1>
                        </div>

                    </div>
                </div>

            </div>
            <!-- end of profile -->

            <!-- nottting -->
            <div class="content-box" id="portfolio">
                <h1>This Is My Profile website</h1>
            </div>
            <div class="content-box" id="award">
                <h1>This Is My Profile website</h1>
            </div>
            <div class="content-box" id="education">
                <h1>This Is My Profile website</h1>
            </div>
            <div class="content-box" id="shell">
                <h1>This Is My Profile website</h1>
            </div>
            <div class="button-to-top blink-me">
                <a href="#main" class="main-button"><i class="fa-solid fa-arrow-up"></i></a>
            </div>
</body>


</html>